<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>お問い合わせありがとうございます</h1>
	
	<h4>以下の内容にて受け付けました</h4>
	<table border="1">
		<tr>
			<th>言語</th>
			<td>
			<span th:each="langs :${langlist}" th:text="${langs}+', '"></span>
			</td>
		</tr>
		<tr><th>詳細内容<td th:text="${detail}"></td></th></tr>
		<tr><th>実施予定日<td>[[${releaseDate}]]</td></th></tr>
		<tr><th>お名前<td th:text="${name}"></td></th></tr>
		<tr><th>メールアドレス<td th:text="${email}"></td></th></tr>
	</table>
</body>
</html>